@font-face {
  font-family: "iconfont"; /* Project id 5115364 */
  src: url('iconfont.woff2?t=1769062541647') format('woff2'),
       url('iconfont.woff?t=1769062541647') format('woff'),
       url('iconfont.ttf?t=1769062541647') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-polygon:before {
  content: "\e6b9";
}

.icon-rectangle:before {
  content: "\e6c9";
}

